<h2>Server list in database</h2>

<table class="server-list">
  <thead>
  <tr>
    <th>ID</th>
    <th>Домен</th>
    <th>Кол-во слотов</th>
    <th>До какого оплачено</th>
    <th>user_id</th>
    <th>machine_id</th>
    <th>Дата создания</th>
    <th>Дата редактирования</th>
    <th>state</th>
  </tr>
  </thead>

  <% @ts.each do |ts| %>
      <tbody>
      <tr>
        <td><%= ts.id %></td>
        <td><%= ts.dns+'.easy-ts3.ru' unless ts.dns.empty? %></td>
        <td><%= ts.slots %></td>
        <td><%= ts.time_payment %></td>
        <td><%= ts.user_id %></td>
        <td><%= ts.machine_id %></td>
        <td><%= ts.created_at %></td>
        <td><%= ts.updated_at %></td>
        <td><%= ts.state %></td>
        <td><div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Функции
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><%= link_to 'Редактировать', {controller: 'cabinet', action: 'edit', id: ts.id}, data: { turbolinks: false }  %></li>
            <li><%= link_to 'Вкл/Выкл', {controller: 'cabinet', action: 'work', id: ts.id}, method: :post %></li>
            <li><%= link_to 'Продлить', {controller: 'cabinet', action: 'extend', id: ts.id}%></li>
            <li><%= link_to 'Удалить',  {controller: 'cabinet', action: 'destroy', id: ts.id}, method: :delete, data: { confirm: 'Вы уверены?' }  %></li>
          </ul>
        </div></td>
      </tr>
      </tbody>
  <% end %>
</table>


<h2>Server list physical</h2>

<table class="server-list">
  <thead>
  <tr>
    <th>machine_id</th>
    <th>name</th>
    <th>port</th>
    <th>status</th>
    <th>client_online</th>
    <th>max_clients</th>
    <th>auto_start</th>
  </tr>
  </thead>

  <% @physical.each do |p| %>
      <tbody>
      <tr>
        <td><%= p["virtualserver_id"] %></td>
        <td><%= p["virtualserver_name"] %></td>
        <td><%= p["virtualserver_port"] %></td>
        <td><%= p["virtualserver_status"] %></td>
        <td><%= p["virtualserver_clientsonline"] %></td>
        <td><%= p["virtualserver_maxclients"] %></td>
        <td><%= p["virtualserver_autostart"] %></td>
      </tr>
      </tbody>
  <% end %>

</table>