<h2>Server list in database</h2>

<table class="server-list">
  <thead>
  <tr>
    <th>ID</th>
    <th>IP</th>
    <th>Домен</th>
    <th>Кол-во слотов</th>
    <th>До какого оплачено</th>
    <th>Остаток дней</th>
    <th>user_id</th>
    <th>machine_id</th>
    <th>Дата создания</th>
    <th>Дата редактирования</th>
    <th>state</th>
  </tr>
  </thead>

  <% @ts.each do |ts| %>
      <tbody>
      <tr>
        <td><%= ts.id %></td>
        <td><%= Settings.other.ip[ts.server_id] + ':' + ts.port.to_s %></td>
        <td><%= ts.dns+'.'+ Settings.other.dns unless ts.dns.empty? %></td>
        <td><%= ts.slots %></td>
        <td><%= ts.time_payment %></td>
        <td><span id="left_time-<%=ts.id if ts.state %>">
            <script>
                var left_time = parseInt(<%= sec2days(ts.time_payment.to_time - Time.now).to_json %>);
                if(left_time > 7){
                    $('span#left_time-<%=ts.id %>').html('<h4>' + left_time + '</h4>').attr('style', 'color: green');
                }else if(left_time < 0){
                    $('span#left_time-<%=ts.id %>').html('<h4>' + left_time + '</h4>').attr('style', 'color: red');
                }else{
                    $('span#left_time-<%=ts.id %>').html('<h4>' + left_time + '</h4>').attr('style', 'color: yellow');
                };
            </script>
          </span></td>
        <td><%= ts.user_id %></td>
        <td><%= ts.machine_id %></td>
        <td><%= ts.created_at %></td>
        <td><%= ts.updated_at %></td>
        <td><%= ts.state %></td>
        <td><%= link_to 'Панель', cabinet_panel_path(ts), class: 'btn btn-default' %></td>
        <td><%= link_to 'Admin_Panel', admin_panel_tsserver_path(ts), class: 'btn btn-default' %></td>
      </tr>
      </tbody>
  <% end %>
</table>


<!--<h2>Server list physical</h2>-->





<!--<table class="server-list">-->
  <!--<thead>-->
  <!--<tr>-->
    <!--<th>machine_id</th>-->
    <!--<th>name</th>-->
    <!--<th>port</th>-->
    <!--<th>status</th>-->
    <!--<th>client_online</th>-->
    <!--<th>max_clients</th>-->
    <!--<th>auto_start</th>-->
  <!--</tr>-->
  <!--</thead>-->

  <!--<% @physical.each do |p| %>-->
      <!--<tbody>-->
      <!--<tr>-->
        <!--<td><%= p["virtualserver_id"] %></td>-->
        <!--<td><%= p["virtualserver_name"] %></td>-->
        <!--<td><%= p["virtualserver_port"] %></td>-->
        <!--<td><%= p["virtualserver_status"] %></td>-->
        <!--<td><%= p["virtualserver_clientsonline"] %></td>-->
        <!--<td><%= p["virtualserver_maxclients"] %></td>-->
        <!--<td><%= p["virtualserver_autostart"] %></td>-->
        <!--<td><%= link_to 'Delete', admin_del_physical_server_path(id: p["virtualserver_id"]), class: 'btn btn-default' %></td>-->
      <!--</tr>-->
      <!--</tbody>-->
  <!--<% end %>-->

<!--</table>-->