<h2>User list</h2>

<table class="server-list">
  <thead>
  <tr>
    <th>ID</th>
    <th>Email</th>
    <th>Money</th>
    <th>Всего потрачено</th>
    <th>Name</th>
    <th>Url</th>
  </tr>
  </thead>

  <% @users.each do |user| %>
      <tbody>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.email %></td>
        <td><%= user.money %></td>
        <td><%= user.spent %></td>
        <td><%= user.name %></td>
        <td><%= user.url %></td>
        <td><%= link_to 'Info', admin_info_path(id: user.id), class: 'btn btn-default' %></td>
      </tr>
      </tbody>
  <% end %>
</table>
