<style>
  .desc{
    text-align: center;
  }
</style>


<div class="main">
<!-- slider -->

  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <div class="row">
          <div class="col-sm-2 col-md-2 col-lg-2"></div>
          <div class="col-sm-3 col-md-3 col-lg-3"><%= image_tag 'teamspeak.png', class: "center-block img-responsive", style: 'width: 150;' %></div>
          <div class="col-sm-5 col-md-5 col-lg-5" style="color: white; font-size: 20px; text-align: center;"><br>TeamSpeak - программа предназначенная для голосового общения между людьми, находящиеся на одном сервере, в одной комнате. Мы предлагаем вам сервер по цене 3р/слот в месяц, а также стабильную работу сервера.</div>
          <div class="col-sm-2 col-md-2 col-lg-2"></div>
        </div>
      </div>

      <div class="item">
          <div class="row">
            <div class="col-md-3 col-sm-3 col-lg-3"></div>
            <div class="col-md-3 col-sm-3 col-lg-3"><%= image_tag 'Turbo_Stream.png', class: "img-responsive", style: 'width:350px;'%></div>
            <div class="col-md-3 col-sm-3 col-lg-3"><span style="color: white;">fkslfsflks</span></div>
            <div class="col-md-3 col-sm-3 col-lg-3"></div>
          </div>
      </div>

    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

<!-- slider end -->

<!-- description -->
  <div class="row center-block col-md-10 col-lg-11">

    <div class="col-sm-6 col-md-4 desc">
      <%= fa_stacked_icon "rocket inverse", base: "circle", class: "fa-3x" %>
      <div class="whyme">
        <h4>Быстрая скорость</h4>
        <p>Моментальная выдача сервера сразу после оплаты. Работоспособность серверов 24/7 </p>
      </div>
    </div>

    <div class="col-sm-6 col-md-4 desc">
      <%= fa_stacked_icon "cog inverse", base: "circle", class: "fa-3x" %>
      <div class="whyme">
        <h4>Простая панель управления</h4>
        <p>В личном кабинете вы с легкостью можете управлять сервером. </p>
      </div>
    </div>

    <div class="col-sm-6 col-md-4 desc">
      <%= fa_stacked_icon "rub  inverse", base: "circle", class: "fa-3x" %>
      <div class="whyme">
        <h4>Низкие Цены</h4>
        <p>У нас у нас самые низкие цены на аренду сервера TeamSpeak 3, 3 руб/слот.</p>
      </div>
    </div>

    <div class="col-sm-6 col-md-4 desc">
      <%= fa_stacked_icon "handshake-o inverse", base: "circle", class: "fa-3x" %>
      <div class="whyme">
        <h4>Сотрудничество</h4>
        <p>Наше сотрудничество предлагает спонсирования ваших проектов на определенных условиях. Обращаться в официальную группу Вконтакте.  </p>
      </div>
    </div>

    <div class="col-sm-6 col-md-4 desc">
      <%= fa_stacked_icon "money inverse", base: "circle", class: "fa-3x" %>
      <div class="whyme">
        <h4>Партнерская программа</h4>
        <p>Наша партнерская программа поможет Вам заработать средства для оплаты сервера. Приглашайте новых пользователей и получайте 10% от каждого заказа Вашего реферала.</p>
      </div>
    </div>

    <div class="col-sm-6 col-md-4 desc">
      <%= fa_stacked_icon "refresh inverse", base: "circle", class: "fa-3x" %>
      <div class="whyme">
        <h4>Снимки сервера </h4>
        <p>Простое создание бэкапов сервера - Вы можете откатить изменения на Вашем сервере из личного кабинета.</p>
      </div>
    </div>

  </div>





</div>

