<div class="buy">
  <h1>Покупка сервера</h1>
  <%= form_for @ts, url: {controller: "cabinet", action: "create"} do |f| %>
      <% if @ts.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@ts.errors.count, "error") %> prohibited this ts from being saved:</h2>

            <ul>
              <% @ts.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div class="field">
      </div>

      <div class="field">
        <%= f.label :dns %>
        <%= f.text_field :dns %>.easy-ts.ru
      </div>

  <table><tr>
        <td> <%= f.number_field :slots, in: 10..512, value: 10 %></td>
        <td>10</td>
        <td><input type="text" data-slider="true" data-slider-theme="volume" data-slider-range="10,512"></td>
        <td>512</td>
  </table></tr>

      <div class="field">
        <%= f.select :time_payment, Tsserver::Payment_Data%>

      </div>




      <ul class="hr">
        <li>Стоимость:</li>
        <li><span class="cost">30</span></li>
        <li>руб.</li>
      </ul>


      <div class="actions">
        <%= f.submit "Купить сервер"%>
      </div>
  <% end %>


</div>







