<%= form_for @ts, url: {action: "create"} do |f| %>
    <% if @ts.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@ts.errors.count, "error") %> prohibited this ts from being saved:</h2>

          <ul>
            <% @ts.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
    </div>

    <div class="field">
      <%= f.label :dns %>
      <%= f.search_field :dns %>.easy-ts.ru
    </div>


<ul class="hr">
      <li><%= f.number_field :slots, in: 10..512, value: 10 %></li>
      <li><input type="text" data-slider="true" data-slider-theme="volume" data-slider-range="10,512"></li>
</ul>




    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>



<script>
  $("#tsserver_slots").bind("keyup focusout", function(event){
    var data = parseInt($("#tsserver_slots").val());
    if (data>512)
    {
      $('#tsserver_slots').val(512);
      data = 512;

    }

    if (data>=10)
    {
      var selector = $("[data-slider]");
      selector.simpleSlider("setValue", data);
    }

  });

  $("#tsserver_slots").bind("focusout", function(event){
    var data = parseInt($("#tsserver_slots").val());
    if (data<10)
    {
      $('#tsserver_slots').val(10);
      var selector = $("[data-slider]");
      selector.simpleSlider("setValue", 10);
    }
  });

  $("[data-slider]")
        .bind("slider:ready slider:changed", function (event, data) {
        $('#tsserver_slots').val(data.value.toFixed(0));

      });





</script>



