<div class="buy">
  <h1>Покупка сервера</h1>
  <%= form_for @ts, url: {controller: "cabinet", action: "create"}, method: :post do |f| %>
      <% if @ts.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@ts.errors.count, "error") %> prohibited this ts from being saved:</h2>

            <ul>
              <% @ts.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>





        <%= f.label 'Доменное имя' %>
        <br>



      <div class="input-group col-xs-8 col-sm-6 col-md-5 col-lg-4">
        <%= f.text_field :dns, class: 'form-control', placeholder: "Введите доменное имя" %>
        <span class="input-group-addon" id="basic-addon2">.east-ts.ru</span>
      </div>


        <%= f.label 'Кол-во слотов' %>
  <table><tr>
        <td> <%= f.number_field :slots, in: 10..512, value: 10 %></td>
        <td>10</td>
        <td><input type="text" data-slider="true" data-slider-theme="volume" data-slider-range="10,512"></td>
        <td>512</td>
  </table></tr>


      <div class="field">
        <%= f.select :time_payment, Tsserver::Payment_Data%>

      </div>




      <ul class="hr">
        <li>Стоимость:</li>
        <li><span class="cost">30</span></li>
        <li>руб.</li>
      </ul>


      <div class="actions">
        <%= f.submit "Купить сервер"%>
      </div>
  <% end %>


</div>


<script type="text/javascript" charset="utf-8">
    function SetCost() {
      var data2 = parseInt($('#tsserver_time_payment').val());
      var data1 = parseInt($("#tsserver_slots").val());
      var data = data1 * 3 * data2;
      $('span.cost').text(data);
    }

    $('#tsserver_time_payment').bind('click', function(event){
      SetCost();
    });

    $("#tsserver_slots").bind("keyup focusout", function(event){
      var data = parseInt($("#tsserver_slots").val());
      if (data>512)
      {
        $('#tsserver_slots').val(512);
        data = 512;
        SetCost();
      }

      if (data>=10)
      {
        var selector = $("[data-slider]");
        selector.simpleSlider("setValue", data);
        SetCost();

      }

    });

    $("#tsserver_slots").bind("focusout", function(event){
      var data = parseInt($("#tsserver_slots").val());
      if (data<10)
      {
        $('#tsserver_slots').val(10);
        var selector = $("[data-slider]");
        selector.simpleSlider("setValue", 10);
        SetCost();

      }
    });

    $("[data-slider]").bind("slider:ready slider:changed", function (event, data) {
      $('#tsserver_slots').val(data.value.toFixed(0));
      SetCost();


    });



</script>







