<%= form_for @ts, url: {controller: "cabinet", action: "extend_up", id: @ts}, method: :post do |f| %>
    <% if @ts.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@ts.errors.count, "error") %> prohibited this ts from being saved:</h2>

          <ul>
            <% @ts.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>


    <div class="field">
      <%= f.label 'На сколько хотите продлить?' %>
      <%= f.select :time_payment, Tsserver::Payment_Data%>
    </div>

    <div>
      <h2>Стоимость: <span class="Cost"><%= @ts.slots * 3 %> </span> руб. </h2>

    </div>

    <div class="actions">
      <%= f.submit "Продлить"%>
    </div>
<% end %>

<script>
  $(document).on('turbolinks:load', function() {

    $('#tsserver_time_payment').bind('click',function(event){
      var data1 = parseInt($('#tsserver_time_payment').val());
      $('span.Cost').text( 3 * data1 * <%= @ts.slots %>);
    });

  });

</script>
<%= link_to 'Назад', cabinet_panel_path(@ts.id), class: "btn btn-default" %>

