<div>
На вашем счету: <%= @user.money %> руб.<%= link_to 'Купить сервер', cabinet_new_path, class: 'btn btn-default', data: { turbolinks: false } %>

</div>


<h2>Список серверов</h2>
<table class="table">
  <thead>
    <tr>
      <th>Доменное имя</th>
      <th>IP</th>
      <th>Количество слотов</th>
      <th>Дата следующего платежа</th>
      <th>Остаток дней</th>
      <th>Статус</th>
      
    </tr>
  </thead>

  <tbody>
    <% @user.tsservers.each do |ts| %>
      <tr>
        <td><%= ts.dns+'.easy-ts3.ru' unless ts.dns == '' %></td>
        <td><%= @ip + ':' + ts.port.to_s %></td>
        <td><%= ts.slots %></td>
        <td><%= ts.time_payment %></td>
        <td><%= sec2days(ts.time_payment.to_time - Time.now) %></td>
        <td><%= @status[@status.index(ts.machine_id)+1]%></td>
        <td><div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Функции
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><%= link_to 'Редактировать', {controller: 'cabinet', action: 'edit', id: ts}, data: { turbolinks: false }  %></li>
            <li><%= link_to 'Вкл/Выкл', {controller: 'cabinet', action: 'work', id: ts}, method: :post %></li>
            <li><%= link_to 'Продлить', {controller: 'cabinet', action: 'extend', id: ts}%></li>
            <li><%= link_to 'Удалить',  {controller: 'cabinet', action: 'destroy', id: ts}, method: :delete, data: { confirm: 'Вы уверены?' }  %></li>
          </ul>
        </div>
        </td>


      </tr>
    <% end %>
  </tbody>
</table>




<div hidden="true">
<%= request.remote_ip %>

</div>


