<div>
На вашем счету: <%= current_user.money %> руб.<%= link_to 'Пополнить', cabinet_pay_path, class: 'btn btn-default' %>
<%= link_to 'Купить сервер', cabinet_new_path, class: 'btn btn-default', data: { turbolinks: false } %>
<%= link_to 'Купить аудио бота',audiobot_new_path , class: 'btn btn-default', data: { turbolinks: false } %>
<%= link_to 'Реферальная программа', cabinet_ref_path, class: 'btn btn-default' %>
</div>
<h4>Авто-продление</h4>
<div class="btn-group" id="toggle_event_editing">
  <button type="button" class="btn btn-info locked_active">OFF</button>
  <button type="button" class="btn btn-default unlocked_inactive">ON</button>
</div>

<h2>Список серверов</h2>
<div>
  <table class="table">
    <thead>
      <tr>
        <th>Доменное имя</th>
        <th>IP</th>
        <th>Количество слотов</th>
        <th>Дата следующего платежа</th>
        <th>Остаток дней</th>
        <th>Статус</th>

      </tr>
    </thead>

    <tbody>
      <% current_user.tsservers.each do |ts| %>
        <tr>
          <td><%= ts.dns+'.'+Settings.other.dns unless ts.dns == '' %></td>
          <td><%= Settings.other.ip + ':' + ts.port.to_s %></td>
          <td><%= ts.slots %></td>
          <td><%= ts.time_payment %></td>
          <td><span id="left_time-<%=ts.id %>">
            <script>
                var left_time = parseInt(<%= sec2days(ts.time_payment.to_time - Time.now).to_json %>);
                  if(left_time > 7){
                      $('span#left_time-<%=ts.id %>').html('<h4>' + left_time + '</h4>').attr('style', 'color: green');
                  }else if(left_time < 0){
                      $('span#left_time-<%=ts.id %>').html('<h4>' + left_time + '</h4>').attr('style', 'color: red');
                  }else{
                      $('span#left_time-<%=ts.id %>').html('<h4>' + left_time + '</h4>').attr('style', 'color: yellow');
                  };
            </script>
          </span></td>
          <td><%= (@status[@status.index(ts.machine_id).to_i+1]=='online') ? 'Online':'Offline' unless @status.blank? %></td>


          <td><%= link_to 'Панель', cabinet_panel_path(ts), class: 'btn btn-default' %></td>


        </tr>
      <% end %>
    </tbody>
  </table>
</div>



<h2>Список Музыкальных ботов</h2>
<div>
  <table class="table">
    <thead>
    <tr>
      <th>Дата следующего платежа</th>
      <th>Остаток дней</th>
      <th>Псевдоним</th>

    </tr>
    </thead>

    <tbody>
    <% current_user.audiobots.each do |bot| %>
        <tr>
          <td><%= bot.time_payment %></td>
          <td><span id="left_time-<%= bot.id %>">
            <script>
                var left_time = parseInt(<%= sec2days(bot.time_payment.to_time - Time.now).to_json %>);
                if(left_time > 7){
                    $('span#left_time-<%=bot.id %>').html('<h4>' + left_time + '</h4>').attr('style', 'color: green');
                }else if(left_time < 0){
                    $('span#left_time-<%=bot.id %>').html('<h4>' + left_time + '</h4>').attr('style', 'color: red');
                }else{
                    $('span#left_time-<%=bot.id %>').html('<h4>' + left_time + '</h4>').attr('style', 'color: yellow');
                };
            </script>
          </span></td>
          <td><%= bot.nickname %></td>
          <td><%= link_to 'Панель', audiobot_panel_path(bot), class: 'btn btn-default' %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>






<script type="text/javascript" charset="utf-8">

    if((<%= current_user.auto_extension %>) && (($('#toggle_event_editing button').hasClass('locked_active')) || (('#toggle_event_editing button').hasClass('locked_active')))){
        $('#toggle_event_editing button').eq(0).toggleClass('locked_inactive locked_active btn-default btn-info');
        $('#toggle_event_editing button').eq(1).toggleClass('unlocked_inactive unlocked_active btn-info btn-default');
    }


    $('#toggle_event_editing button').click(function(){
        if($(this).hasClass('locked_active') || $(this).hasClass('unlocked_inactive')){
            $.ajax({
                type: 'POST',
                url: "/cabinet/edit_auto_extension",
                data: {auto_extension: true}
            });
            $('#toggle_event_editing button').eq(0).toggleClass('locked_inactive locked_active btn-default btn-info');
            $('#toggle_event_editing button').eq(1).toggleClass('unlocked_inactive unlocked_active btn-info btn-default');
        }else{
          /* code to do when locking */
            $.ajax({
                type: 'POST',
                url: "/cabinet/edit_auto_extension",
                data: {auto_extension: false}
            });
            $('#toggle_event_editing button').eq(0).toggleClass('locked_inactive locked_active btn-default btn-info');
            $('#toggle_event_editing button').eq(1).toggleClass('unlocked_inactive unlocked_active btn-info btn-default');
        }})

</script>


