<div>
На вашем счету: <%= @user.money %> руб.
</div>

<h2>Список серверов</h2>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Доменное имя</th>
      <th>Количество слотов</th>
      <th>До какого оплачено</th>
      <th>Статус</th>
      
    </tr>
  </thead>

  <tbody>
    <% @user.tsservers.each do |ts| %>
      <tr>
        <td><%= ts.id %></td>
        <td><%= ts.dns+'.easy-ts3.ru' unless ts.dns.nil? %></td>
        <td><%= ts.slots %></td>
        <td><%= ts.time_payment %></td>
        <td><%= @status.server_status(ts.machine_id) %></td>
        <td><%= link_to 'Destroy', {controller: "cabinet", action: "destroy", id: ts} , data: { confirm: 'Are you sure?' }  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="btn btn-default">
<%= link_to "Купить сервер", cabinet_new_path %>
</div>

<div>
<%= request.remote_ip %>

</div>



