<div class="buy">
  <h2>Покупка сервера</h2>

  <%= form_for @ts, url: {controller: "cabinet", action: "create"}, method: :post do |f| %>
      <% if @ts.errors.any? %>
          <div class="alert alert-danger">
            <h2><%= pluralize(@ts.errors.count, "ошибка") %></h2>

              <% @ts.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
          </div>
      <% end %>



<div class="border">
  <ul class="hr">

    <li><%= f.label 'Доменное имя' %></li>




    <li><div class="input-group col-xs-8 col-sm-6 col-md-5 col-lg-4">
        <%= f.text_field :dns, class: 'form-control', id: 'dns_input' , placeholder: "Введите доменное имя", allow_nil: true %>
        <span class="input-group-addon" id="basic-addon2">.<%= Settings.other.dns %></span>
      </div></li>

    <li><span id="dns_status">Введите домен(необязательно)</span></li>
  </ul>
</div>

<div class="border">
        <%= f.label 'Кол-во слотов' %>
  <table><tr>
        <td> <%= f.number_field :slots, in: 10..512, value: 10 %></td>
        <td>10</td>
        <td><input type="text" data-slider="true" data-slider-theme="volume" data-slider-range="10,512"></td>
        <td>512</td>
  </tr></table>
</div>


<div class="border">

      <div class="field">
        <%= f.label 'Время оплаты' %>
        <br>
        <%= f.select :time_payment, Tsserver::Payment_Data %>
      </div>

</div>

<div class="border">
     <h4>Стоимость: <span class="cost"></span>руб.</h4>
     <h5><span class="lacks"></span></h5>
     <h5>На вашем счету: <%= current_user.money %>руб. <%= link_to 'Пополнить', cabinet_pay_path %></h5>
</div>


      <div class="actions">
        <%= f.submit "Купить сервер", class: 'btn btn-default'%>
      </div>
  <% end %>

</div>


<script type="text/javascript" charset="utf-8">
    function SetCost() {
      var data2 = parseInt($('#tsserver_time_payment').val());
      var data1 = parseInt($("#tsserver_slots").val());
      var money = parseInt(<%= current_user.money.to_json %>);
      var data = data1 * <%= Settings.other.slot_cost.to_json %> * data2;
      if(data>money){
          var lacks = "Нехватает: " + (data-money).toString() + "руб.";
      }else{
          var lacks = "";
      }

      $('span.cost').text(data);
      $('span.lacks').text(lacks);


    }


    $('#dns_input').bind('change', function (event) {
      var dns = $('#dns_input').val();
        if ((/^[A-Za-z0-9_-]+$/.test(dns)) && dns != '' ) {
          $.ajax({
            type: 'POST',
            url: "/cabinet/free_dns",
            data: {dns: dns},
            success:function(data){
              if ((data.status) == true){
                $('#dns_status').text('Домен занят');
                  $('#dns_status').attr('style','color: red');
              }else{
                $('#dns_status').text('Домен свободен');
                $('#dns_status').attr('style','color: green');
              }
            },
            error:function(data){

            }

          });
        }else if (dns == ''){
          $('#dns_status').text('Введите домен(необязательно)');
        }else{
          $('#dns_status').text('Недопустимый домен');
            $('#dns_status').attr('style','color: red');
        }
    });



    $('#tsserver_time_payment').bind('click', function(event){
      SetCost();
    });

    $("#tsserver_slots").bind("keyup focusout", function(event){
      var data = parseInt($("#tsserver_slots").val());
      if (data>512)
      {
        $('#tsserver_slots').val(512);
        data = 512;
        SetCost();
      }

      if (data>=10)
      {
        var selector = $("[data-slider]");
        selector.simpleSlider("setValue", data);
        SetCost();

      }

    });

    $("#tsserver_slots").bind("focusout", function(event){
      var data = parseInt($("#tsserver_slots").val());
      if (data<10)
      {
        $('#tsserver_slots').val(10);
        var selector = $("[data-slider]");
        selector.simpleSlider("setValue", 10);
        SetCost();

      }
    });

    $("[data-slider]").bind("slider:ready slider:changed", function (event, data) {
      $('#tsserver_slots').val(data.value.toFixed(0));
      SetCost();


    });



</script>







