<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>easy-ts3</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

  </head>


  <body>
    <!-- VK Widget -->
    <script type="text/javascript" src="//vk.com/js/api/openapi.js?136"></script>
    <div id="vk_community_messages"></div>
    <script type="text/javascript">
        VK.Widgets.CommunityMessages("vk_community_messages", 126399695, {});
    </script>
    <!-- VK END -->

    <header>
      <%= render 'layouts/navigation' %>
    </header>


    <main role="main" class="container">
      <% flash.each do |name, message| %>
          <div class="alert alert-<%= name %>">
            <%= message %>
          </div>
      <% end %>

      <%= yield %>

    </main>



    <div class="footer">
      <%= render 'layouts/footer' %>
    </div>

  </body>

</html>
