<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>easy-ts3</title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "lol" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body class="container">
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
      <% if flash[:notice] %>
          <div class="notice"><%= flash[:notice] %></div>
      <% end %>
       <%= yield %>

      <script type="text/javascript" src="//vk.com/js/api/openapi.js?136"></script>

      <!-- VK Widget -->
      <div id="vk_community_messages"></div>
      <script type="text/javascript">
        VK.Widgets.CommunityMessages("vk_community_messages", 126399695, {});
      </script>

    </main>



  </body>

</html>
