<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="turbolinks-cache-control" content="no-cache">
    <title>easy-ts | Аренда выделенных серверов TeamSpeak 3</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>




  </head>




  <body>


  <!-- Yandex.Metrika counter -->
  <script type="text/javascript">
      (function (d, w, c) {
          (w[c] = w[c] || []).push(function() {
              try {
                  w.yaCounter44505961 = new Ya.Metrika({
                      id:44505961,
                      clickmap:true,
                      trackLinks:true,
                      accurateTrackBounce:true,
                      webvisor:true
                  });
              } catch(e) { }
          });

          var n = d.getElementsByTagName("script")[0],
              s = d.createElement("script"),
              f = function () { n.parentNode.insertBefore(s, n); };
          s.type = "text/javascript";
          s.async = true;
          s.src = "https://mc.yandex.ru/metrika/watch.js";

          if (w.opera == "[object Opera]") {
              d.addEventListener("DOMContentLoaded", f, false);
          } else { f(); }
      })(document, window, "yandex_metrika_callbacks");
  </script>
  <noscript><div><img src="https://mc.yandex.ru/watch/44505961" style="position:absolute; left:-9999px;" alt="" /></div></noscript>

  <!-- Yandex.Metrika counter -->


  <script src='https://www.google.com/recaptcha/api.js'></script>
    <!-- VK Widget -->
    <script type="text/javascript" src="//vk.com/js/api/openapi.js?136"></script>
    <div id="vk_community_messages"></div>
    <script type="text/javascript">
            VK.Widgets.CommunityMessages("vk_community_messages", 126399695, {});

    </script>
    <!-- VK END -->

    <header>
      <%= render 'layouts/navigation' %>
    </header>


    <main role="main" class="container main clearfix" id="wrap">
      <% flash.each do |name, message| %>
          <div class="alert alert-<%= name %>">
            <%= message %>
          </div>
      <% end %>

      <%= yield %>

    </main>


    <!-- VK Widget -->
     <!-- <div id="vk_groups" class="hidden-xs hidden-sm">-->
     <!--   <script type="text/javascript">-->
     <!--           VK.Widgets.Group("vk_groups", {mode: 4, width: "220", height: "400", color1: 'F4F4F2', color2: '120C0C'}, 126399695);-->
    <!--   </script>-->
     <!--</div>-->


    <div class="footer">
      <%= render 'layouts/footer' %>
    </div>

  </body>

</html>
